.dynamic-select-table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: .875rem;
    width: 100%;
    margin-bottom: 12px
}

.dynamic-select-table tr {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #e5e5e5
}

.dynamic-select-table th {
    font-weight: 400
}

.dynamic-select-table th:not(.title-row) {
    text-align: right
}

.dynamic-select-table td {
    padding: 8px;
    text-align: right
}

.dynamic-select-table tr.headline-mobile-device th {
    padding: 0
}

.dynamic-select-table .headline-mobile-device div.row {
    text-align: center;
    padding: 0;
    margin: 0
}

.dynamic-select-table .headline-mobile-device div.row div {
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--theme-interaction-active-color);
    cursor: pointer
}

.dynamic-select-table .headline-mobile-device div.row div:first-child {
    border-radius: 3px 0 0 3px;
    border-right: 0
}

.dynamic-select-table .headline-mobile-device div.row div:last-child {
    border-radius: 0 3px 3px 0;
    border-left: 0
}

.dynamic-select-table .headline-mobile-device div.row div .active {
    background-color: var(--theme-interaction-variant-bg);
    color: var(--theme-interaction-active-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--theme-interaction-active-color)
}

.dynamic-select-table-cell {
    color: var(--legacy-text-color);
    text-align: left
}

.dynamic-select-table th.title-row {
    text-align: left;
    font-weight: 700
}

@media (min-width: 660px) {
    .dynamic-select-table th.active div.styled-checkbox {
        background-color:var(--theme-page-bg);
        border-style: solid;
        border-width: thin thin 0;
        border-color: #e5e5e5;
        border-radius: 3px 3px 0 0;
        margin: 0 -2px -1px -1px
    }

    .dynamic-select-table th.active div.styled-checkbox:not(:root) {
        margin: 0 -2px -1px -1px
    }

    .dynamic-select-table td.active {
        background-color: var(--theme-page-bg);
        border-style: solid;
        border-width: 0 1px;
        border-color: #e5e5e5
    }

    .dynamic-select-table .dynamic-select-table-cell .styled-checkbox {
        white-space: nowrap;
        padding: 2px 8px
    }

    .dynamic-select-table .dynamic-select-table-cell .styled-checkbox label.label {
        font-size: .875rem
    }
}

@media (max-width: 659px) {
    .dynamic-select-table tr.headline-mobile-device {
        border-bottom:0
    }

    .dynamic-select-table td.dynamic-select-table-cell:not(.active) {
        display: none
    }

    .dynamic-select-table th {
        padding: 8px
    }

    .dynamic-select-table tbody td.dynamic-select-table-cell:not(:first-child) {
        text-align: right
    }

    .dynamic-select-table tr.headline-mobile-device .btn-secondary {
        white-space: nowrap
    }
}

@media (max-width: 375px) {
    .dynamic-select-table tr.headline-mobile-device .btn-secondary span:last-child {
        display:none
    }
}

.img-option-list {
    margin-top: 8px;
    margin-bottom: 8px
}

.img-option-list-item {
    padding: 4px 0 4px 34px;
    cursor: pointer;
    margin-bottom: 8px
}

.img-option-list-item:first-child {
    padding-top: 0
}

@media (min-width: 660px) {
    .img-option-list-item:first-child {
        padding-top:4px
    }
}

.img-option-list-item:last-child {
    padding-bottom: 0;
    margin-bottom: 0
}

.img-option-list-image {
    width: 100%;
    height: auto;
    border-radius: var(--theme-element-radius);
    margin-bottom: 4px
}

.payment-capcon {
    z-index: 7
}

.payment-capcon-container,.payment-capcon-content {
    padding-left: 12px;
    padding-right: 12px
}

.payment-capcon-content {
    margin-top: 36px!important;
    vertical-align: middle
}

.payment-capcon-content .modal-horizontal-dividing {
    margin-left: -30px;
    margin-right: -30px
}

.payment-capcon-spinner {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

.payment-capcon-spinner-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100px
}

.highlighted-row {
    background: var(--theme-interaction-color);
    color: #fff
}

.highlighted-row .card-active-color,.highlighted-row .styled-checkbox>.label {
    color: #fff
}

.ticket-insurance-advertising-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.ticket-insurance-advertising-link {
    text-align: left
}

.ticket-insurance-logo {
    max-height: 42px;
    margin-top: 6px
}

.ticket-insurance-logo.top-left {
    float: left;
    margin-right: 24px
}

.ticket-insurance .insurance-label-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.ticket-insurance .ticket-insurance-advertising.normalspace {
    grid-column-start: 1;
    grid-column-end: 4
}

.ticket-insurance .additional-insurance-checkbox-text.normalspace {
    grid-column-start: 2;
    grid-column-end: 4
}

.insurance-summary-content,.insurance-summary-header,.ticket-insurance .insurance-label-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.insurance-summary-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8px 0
}

.insurance-summary-header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.insurance-summary-form-field {
    width: 100%
}

.insurance-summary-price {
    text-align: right;
    font-weight: 700;
    color: var(--theme-interaction-color)
}

.insurance-summary-description {
    width: 100%
}

.ticket-insurance-event-data-top-border-space {
    margin-top: -10px
}

.ticket-insurance-event-data-separator {
    border-right: 1px solid var(--theme-element-border)
}

@media (max-width: 949px) {
    .ticket-insurance-event-data-separator {
        border-right:0
    }
}

.ticket-insurance-event-data-border-space {
    margin: 10px -20px 20px
}

@media (max-width: 949px) {
    .ticket-insurance-event-data-border-space {
        display:none
    }
}

.ticket-insurance-event-data-text-space {
    margin-top: revert
}

.ticket-insurance-event-data,.ticket-insurance-event-data-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.ticket-insurance-event-data-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.ticket-insurance-event-data {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 659px) {
    .ticket-insurance-event-data {
        margin-top:0
    }
}

.ticket-insurance-event-data-tickets {
    height: 75px;
    width: 290px;
    max-width: 100%;
    position: relative
}

@media (max-width: 659px) {
    .ticket-insurance-event-data-tickets {
        height:55px;
        width: 270px
    }
}

.ticket-insurance-event-data-ticket {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(100,100,100,.3);
    box-shadow: 0 0 10px rgba(100,100,100,.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
    background-color: var(--theme-page-bg)
}

.ticket-insurance-event-data-card-0 {
    top: -5px;
    z-index: 10;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.ticket-insurance-event-data-card-1 {
    top: -11px;
    z-index: 9;
    -webkit-transform: scale(.98);
    transform: scale(.98)
}

.ticket-insurance-event-data-card-2 {
    top: -16px;
    z-index: 8;
    -webkit-transform: scale(.96);
    transform: scale(.96)
}

.ticket-insurance-event-data-card-3 {
    top: -20px;
    z-index: 7;
    -webkit-transform: scale(.94);
    transform: scale(.94)
}

.ticket-insurance-event-data-image {
    height: 100%;
    width: 75px
}

@media (max-width: 659px) {
    .ticket-insurance-event-data-image {
        height:55px;
        width: 55px;
        min-width: 55px
    }
}

.ticket-insurance-event-data-details {
    overflow: hidden;
    height: 100%;
    width: 215px;
    border-left: 4px dotted var(--theme-element-border)
}

.ticket-insurance-event-data-overflow-text {
    text-overflow: ellipsis;
    overflow: hidden
}

.soft-login-greeting {
    color: var(--legacy-headline-color)
}

.soft-login-greeting-light {
    font-weight: 400;
    margin: 12px 0 0
}

.soft-login-email-address {
    color: var(--theme-text-variant-color);
    font-size: .875rem;
    margin: 4px 0
}

.soft-login-not-me-link {
    text-decoration: underline
}

.soft-login-not-me-link-wrapper {
    margin: 0
}

@media (max-width: 659px) {
    .checkin-content {
        display:block
    }
}

.checkin-content {
    border: #1e8286 1px solid;
    border-radius: var(--theme-element-radius)
}

.checkin-description {
    min-width: 0
}

.ev-checkin-event {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.checkin-button {
    color: #fff;
    background-color: #1e8286;
    border-color: transparent;
    width: 50%
}

.barcode-wrapper {
    background-color: #fff;
    padding: 48px 0
}

.customer-search-result-table {
    width: 100%;
    margin-top: 6px
}

.customer-search-result-table .header {
    color: #fff;
    background-color: #202867
}

.customer-search-result-table .header th {
    font-weight: 400;
    cursor: pointer
}

.customer-search-result-table .header th .icon {
    color: var(--theme-alternative-interaction-color)
}

.customer-search-result-table .header th.noclick {
    cursor: default
}

.customer-search-result-table .result-bg {
    background-color: #f5f5f5
}

.main-ticket-card-grid {
    display: grid;
    grid-template-columns: 40px 9fr 3fr;
    grid-template-rows: auto;
    grid-column-gap: 6px;
    width: 100%
}

@media (min-width: 660px) {
    .main-ticket-card-grid {
        grid-template-columns:40px 9fr 2fr;
        grid-column-gap: 10px
    }
}

@media (min-width: 480px) {
    .main-ticket-card-grid .styled-checkbox .label {
        white-space:nowrap
    }
}

.main-ticket-card-headline,.main-ticket-card-headline-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.main-ticket-card-headline {
    color: var(--legacy-headline-color);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px
}

.main-ticket-card-headline .card-headline {
    font-weight: 500;
    line-height: 1.625rem
}

@media (min-width: 950px) {
    .main-ticket-card-headline .card-headline {
        margin:0
    }
}

.main-ticket-card-headline-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: var(--theme-interaction-color);
    font-size: 1.125rem;
    line-height: 1.625rem
}

@media (min-width: 950px) {
    .main-ticket-card-headline-text {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 10px 0 6px
    }
}

.main-ticket-card-headline-price {
    font-weight: 500;
    color: var(--theme-interaction-color);
    white-space: nowrap
}

@media (max-width: 479px) {
    .main-ticket-card-headline-price .double-price {
        display:inline-block;
        max-width: 120px;
        white-space: normal;
        vertical-align: text-top
    }
}

.main-ticket-card-headline-button {
    margin-top: 12px
}

.main-ticket-card-headline-button,.main-ticket-card-headline-button-wrapper {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    align-self: end
}

.main-ticket-card-image {
    background: #e1e1e1;
    width: 100%;
    padding-right: 0;
    max-width: 100%;
    max-height: 190px;
    overflow: hidden;
    position: relative;
    border-radius: var(--theme-element-radius) var(--theme-element-radius) 0 0
}

.main-ticket-card-ticketimage .fluid-image {
    height: 170px;
    width: auto;
    position: relative;
    z-index: 9
}

.main-ticket-card-ticketimage .fluid-image.with-blurred-bg {
    position: relative;
    top: 10px
}

.main-ticket-card-ticketimage-bg {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    width: 108%;
    margin: -34% 0 0 -5%
}

@media (min-width: 660px) {
    .main-ticket-card-ticketimage-bg {
        width:calc(100% + 96px + 10px);
        margin: -34% 0 0 -50px
    }
}

.main-ticket-card-eventinfo {
    margin-top: 10px
}

.main-ticket-card-eventinfo .venue-info {
    margin-top: 8px
}

.main-ticket-card-eventinfo .promoter-info {
    margin: 8px 0
}

.main-ticket-card .seat-info {
    color: #07b03c
}

.main-ticket-card .event-name {
    word-break: break-word
}

.main-ticket-card-package-items .event-name.main-ticket-card-emphasized-info,.main-ticket-card-ticket-insurance .insurance-headline.main-ticket-card-emphasized-info {
    font-size: 1rem
}

.main-ticket-card-voucherform .info-label {
    min-height: auto
}

.main-ticket-card-ticket-insurance {
    margin-top: 10px;
    background-color: #d0ebfd;
    border-top: 1px solid var(--theme-interaction-color);
    border-bottom: 1px solid var(--theme-interaction-color)
}

.main-ticket-card-ticket-insurance.no-highlighted {
    background-color: transparent;
    border-top: 1px solid var(--theme-element-border);
    border-bottom: 1px solid var(--theme-element-border)
}

.main-ticket-card-ticket-insurance .styled-checkbox .label {
    position: unset;
    padding-right: 20px
}

.main-ticket-card-memory-ticket label {
    font-size: 1.125rem;
    line-height: 1.625rem
}

.main-ticket-card-memory-ticket .short-description {
    font-weight: 600;
    font-size: .75rem;
    color: var(--theme-text-variant-color)
}

.main-ticket-card-giftwrapping {
    margin-top: 10px
}

.main-ticket-card-giftwrapping .giftwrap-headline.main-ticket-card-emphasized-info {
    font-size: 1rem
}

.main-ticket-card-giftwrapping .giftwrap-headline.main-ticket-card-emphasized-info .icon {
    margin-right: 4px;
    vertical-align: unset
}

.main-ticket-card-giftwrapping .giftwrap-headline.main-ticket-card-emphasized-info .motive-counter {
    color: #40648e;
    font-size: .875rem
}

.main-ticket-card .main-ticket-card-fanticket,.main-ticket-card .main-ticket-card-ticket-insurance {
    padding: 8px 12px 12px
}

@media (min-width: 660px) {
    .main-ticket-card .main-ticket-card-fanticket,.main-ticket-card .main-ticket-card-ticket-insurance {
        padding:8px 16px 12px
    }
}

.main-ticket-card .styled-checkbox .label {
    top: -5px
}

.main-ticket-card .styled-checkbox .label.label-highlighted {
    top: 3px
}

.main-ticket-card-emphasized-info {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: var(--legacy-headline-color)
}

.main-ticket-card-price {
    color: var(--theme-interaction-color)
}

.main-ticket-card .frontspace {
    grid-column-start: 1;
    grid-column-end: 2
}

.main-ticket-card .frontspace-span-rows {
    grid-row: span 2
}

.main-ticket-card .frontspace-span-columns {
    grid-column-end: 3
}

.main-ticket-card .frontspace-image {
    max-width: 40px
}

.main-ticket-card .middlespace {
    grid-column-start: 2;
    grid-column-end: 3
}

.main-ticket-card .middlespace .grid-label,.main-ticket-card .normalspace .grid-label {
    cursor: pointer
}

.main-ticket-card .endspace {
    text-align: right;
    white-space: nowrap;
    grid-column-start: 3;
    grid-column-end: 4
}

.main-ticket-card .endspace-wrap {
    white-space: normal;
    word-break: normal
}

.main-ticket-card .normalspace {
    grid-column-start: 2;
    grid-column-end: 4
}

.main-ticket-card .label-secondary {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: inline-block;
    white-space: unset
}

.main-ticket-card .background-gradient {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear,left top,left bottom,from(color-mix(in srgb,var(--theme-interaction-color) 34.4%,#00000a)),to(var(--theme-interaction-color)));
    background: -webkit-linear-gradient(top,color-mix(in srgb,var(--theme-interaction-color) 34.4%,#00000a),var(--theme-interaction-color));
    background: linear-gradient(to bottom,color-mix(in srgb,var(--theme-interaction-color) 34.4%,#00000a),var(--theme-interaction-color));
    border-radius: 12px;
    padding: 12px;
    width: 100%
}

.main-ticket-card .background-gradient .horizontal-img {
    max-height: 250px;
    width: 100%
}

.main-ticket-card .background-gradient .vertical-img {
    max-width: 150px
}

.gift-wrap-selection-container {
    position: relative;
    cursor: pointer
}

.gift-wrap-selection-container::after {
    content: "";
    display: inline-block;
    background: url(../images/full-screen.svg) no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 10px;
    bottom: 14px;
    cursor: pointer
}

@media (max-width: 480px) {
    .gift-wrap-selection-container::after {
        right:-12px
    }
}

.gift-wrap-selection-container.hide-zoom-icon::after {
    display: none
}

.gift-wrap-selection-container .option {
    width: 100%;
    -webkit-transition: all 200ms cubic-bezier(.4,.2,.5,1.4);
    transition: all 200ms cubic-bezier(.4,.2,.5,1.4)
}

@media (max-width: 480px) {
    .gift-wrap-selection-container .option {
        width:calc(100% + 24px)
    }
}

.gift-wrap-options-list .option:hover,.gift-wrap-selection-container .option.selected {
    border: 4px solid #07b03c
}

.gift-wrap-options-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.gift-wrap-options-list .option {
    width: 100%;
    cursor: pointer;
    border: 4px solid transparent;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media (min-width: 480px) {
    .gift-wrap-options-list .option {
        max-width:360px
    }
}

.icon-image-gift {
    display: inline-block;
    font-size: 1rem;
    top: -2.5px;
    position: relative
}

.cross-sale-card-subheadline {
    color: var(--theme-text-variant-color);
    font-weight: 500;
    font-size: 1rem;
    margin: 12px 0
}

.cross-sale-card-text {
    color: var(--theme-text-variant-color);
    margin: 8px 0 0
}

.cross-sale-card-product-image {
    max-width: 90px
}

.cross-sale-card-product-image-wrapper {
    max-height: 90px
}

.cross-sale-card-button {
    margin-top: 12px;
    float: right
}

.cross-sale-card-button.cross-sale-visit-button {
    margin-top: 0
}

.cross-sale-card-stepper {
    background-color: var(--theme-alternative-interaction-color)
}

.cross-sale-card-stepper.btn-primary:hover {
    background-color: var(--theme-alternative-interaction-color-hover)
}

.cross-sale-card .no-stepper {
    margin-bottom: 12px
}

.cross-sale-card .card-headline {
    font-weight: 500
}

.cross-sale-card .btn-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.adyen-dropin-container,.cross-sale-card .btn-group .btn-primary.disabled {
    background-color: #fff
}

.cross-sale-card .card-expander-description {
    color: var(--theme-text-variant-color);
    font-size: 1rem;
    font-weight: 700;
    word-break: break-word
}

.cross-sale-card .card-expander-marginal {
    color: var(--theme-interaction-color);
    font-size: 1rem;
    font-weight: 700;
    min-width: 130px
}

.cross-sale-card .small-info {
    color: var(--theme-alternative-interaction-color)
}

.adyen-dropin-container ul {
    padding-left: 0!important
}

.adyen-checkout__button {
    background-color: var(--theme-interaction-color);
    color: #fff
}

.adyen-checkout__button:hover {
    background-color: var(--theme-interaction-hover-color)
}

.adyen-checkout__payment-method,.adyen-checkout__payment-method--selected {
    background-color: transparent;
    border-color: var(--legacy-text-color)
}

.adyen-checkout__bankTransfer__introduction,.adyen-checkout__card__cardNumber__input,.adyen-checkout__checkbox__label,.adyen-checkout__dropdown__element,.adyen-checkout__label__text,.adyen-checkout__payment-method__name,.adyen-checkout__payment-method__name--selected {
    color: var(--legacy-text-color)
}

.adyen-checkout__dropdown__button,.adyen-checkout__dropdown__list,.adyen-checkout__input {
    color: var(--legacy-text-color);
    background-color: #fff
}

.adyen-checkout__dropdown__button input {
    background-color: #fff!important;
    color: var(--legacy-text-color)!important
}

.fatal-error-bg {
    background: #202867
}

.fatal-error-title {
    font-weight: 700;
    text-align: center;
    line-height: 30vh;
    font-size: 2.125rem;
    color: var(--theme-head-text-color)
}

.fatal-error-detail {
    color: var(--theme-interaction-color)
}

.page-banner-background {
    background-size: cover;
    background-position: center;
    padding: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 16px
}

@media (min-width: 660px) {
    .page-banner-background {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

.page-banner-text {
    color: #fff;
    font-size: 1.125rem
}

@media (min-width: 660px) {
    .page-banner-text {
        max-width:50%
    }
}

.page-banner-logo {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    max-height: 120px;
    max-width: 100%
}

.progress-bar {
    margin: 4px 0 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media (min-width: 950px) {
    .progress-bar {
        margin-bottom:16px
    }
}

.progress-bar-step {
    background-color: var(--theme-progress-bar-unvisited-bg);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 12px;
    border-radius: 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 8px;
    color: var(--theme-disabled-color);
    -webkit-box-shadow: 0 1px 5px 0 rgba(182,197,205,.5);
    box-shadow: 0 1px 5px 0 rgba(182,197,205,.5)
}

@media (min-width: 950px) {
    .progress-bar-step {
        padding:6px 20px
    }
}

.progress-bar-step.first {
    margin-left: 0
}

.progress-bar-step.active,.progress-bar-step.completed:hover {
    background-color: var(--theme-interaction-color);
    color: var(--theme-content-bg)
}

.progress-bar-step .icon {
    font-size: 1.25rem
}

.progress-bar-step.completed {
    background-color: var(--theme-content-bg);
    color: var(--theme-interaction-color)
}

.progress-bar-step.completed:hover {
    cursor: pointer
}

.checkout-card-container .link,.checkout-card-container a[href]:not([class]) {
    text-decoration: underline
}

.checkout-card-container .link .icon,.checkout-card-container a[href]:not([class]) .icon {
    text-decoration: none
}

.checkout-card-container .card-section {
    padding: 4px 24px
}

.checkout-card-container .card .inner-card-headline {
    margin-top: 0
}

.checkout-card-container .card-content {
    padding: 16px 0 12px
}

.checkout-card-container .card-separator-spacer {
    padding: 0 24px
}

.checkout-card-container .card-separator-spacer .card-separator,.checkout-card-container .inline-card-separator-spacer .card-separator {
    margin-top: 20px;
    margin-bottom: 16px
}

.checkout-card-container .inline-card-separator-spacer {
    padding: 0 12px
}

.checkout-card-container .mini-basket-overview {
    padding-bottom: 0
}

@media (min-width: 660px) {
    .checkout-card-container .card-content {
        padding:24px 0 12px
    }

    .checkout-card-container .card-section:not(.col-sm-offset-4) {
        padding: 8px 48px
    }

    .checkout-card-container .button-container {
        padding-bottom: 8px
    }

    .checkout-card-container .card-separator-spacer {
        padding: 0 48px
    }

    .checkout-card-container .inline-card-separator-spacer {
        padding: 0 36px
    }
}

.checkout-form-container .forms-field .error {
    font-size: .875rem
}

.checkout-form-container .radio-group--with-label {
    padding-top: 0
}

.price-information,.shopping-cart-position {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.price-information {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.shopping-cart-position {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 12px
}

.shopping-cart-position-image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45px;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px
}

@media (min-width: 660px) {
    .shopping-cart-position-image {
        -webkit-box-flex:0;
        -webkit-flex: 0 0 65px;
        -ms-flex: 0 0 65px;
        flex: 0 0 65px
    }
}

.shopping-cart-position-description {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 calc(100% - 57px);
    -ms-flex: 1 1 calc(100% - 57px);
    flex: 1 1 calc(100% - 57px)
}

@media (min-width: 660px) {
    .shopping-cart-position-description {
        -webkit-box-flex:1;
        -webkit-flex: 1 1 calc(100% - 77px);
        -ms-flex: 1 1 calc(100% - 77px);
        flex: 1 1 calc(100% - 77px)
    }
}

.shopping-cart-position-title {
    font-size: 1rem;
    line-height: 1.5rem;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-all
}

@supports (-webkit-line-clamp:1) {
    .shopping-cart-position-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        white-space: normal!important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical
    }
}

.shopping-cart-position-subtitle {
    color: var(--theme-text-variant-color);
    font-size: .875rem;
    line-height: 1.375rem;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-all
}

@supports (-webkit-line-clamp:1) {
    .shopping-cart-position-subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        white-space: normal!important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical
    }
}

.shopping-cart-position-subtitle-without-line-clamp {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

@supports (-webkit-line-clamp:0) {
    .shopping-cart-position-subtitle-without-line-clamp {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        white-space: normal!important;
        -webkit-line-clamp: 0;
        -webkit-box-orient: vertical
    }
}

.view-shopping-cart-personalization,.view-shopping-cart-voucher-information {
    color: var(--theme-text-variant-color)
}

.toggle-headline-icon {
    top: -2px
}

.express-checkout-divider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: .75rem;
    margin-top: 12px
}

.express-checkout-divider::after,.express-checkout-divider::before {
    content: "";
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 1px solid var(--theme-element-border)
}

.express-checkout-divider:not(:empty)::before {
    margin-right: 8px
}

.express-checkout-divider:not(:empty)::after {
    margin-left: 8px
}

.express-checkout-button {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: transparent;
    margin-top: 12px
}

.express-checkout-button-img {
    width: 100%;
    max-height: 24px
}

.express-checkout-label {
    color: var(--theme-text-marginal-color)
}

.fanticket-hint-headline {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 8px 12px 0
}

@media (max-width: 660px) {
    .fanticket-hint-headline {
        margin:-4px 0 12px
    }
}

.fanticket-hint-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 12px
}

@media (max-width: 660px) {
    .fanticket-hint-container {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0
    }
}

.fanticket-hint-image-wrapper {
    margin-right: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

@media (max-width: 660px) {
    .fanticket-hint-image-wrapper {
        margin-right:0;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.fanticket-hint-image {
    max-width: 312px;
    max-height: 224px;
    width: auto;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    display: block
}

@media (max-width: 660px) {
    .fanticket-hint-image {
        width:100%;
        height: auto;
        max-height: 224px;
        max-width: none;
        -o-object-fit: contain;
        object-fit: contain
    }
}

.fanticket-hint-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

@media (max-width: 660px) {
    .fanticket-hint-content {
        margin-top:12px;
        height: auto;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.fanticket-hint-description {
    margin: 0
}

.insurance-radio.event-image-spacing {
    padding-top: 192px;
    margin-top: 8px
}

.insurance-radio .main-ticket-card-image {
    position: absolute;
    background: #000;
    left: 0;
    top: 0
}

.insurance-radio-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
    color: var(--legacy-headline-color)
}

.insurance-radio-title-emphasized {
    color: var(--theme-interaction-color)
}

.insurance-radio-subtitle {
    font-size: .875rem;
    line-height: 1.375rem;
    text-align: center;
    margin: 8px 0 20px
}

.insurance-radio-option {
    position: relative;
    padding-right: 0;
    margin: 8px 0 16px
}

.insurance-radio-option-badge {
    position: absolute;
    top: -6px;
    left: 10px;
    background: var(--theme-interaction-color);
    color: var(--theme-page-bg);
    font-size: .625rem;
    line-height: 1.125rem;
    font-weight: 500;
    padding: 0 8px;
    border-radius: var(--theme-element-radius);
    z-index: 1
}

.insurance-radio-option-label {
    border: 1px solid var(--theme-element-border);
    border-radius: var(--theme-element-radius);
    cursor: pointer
}

.insurance-radio-option-title {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 700;
    color: var(--legacy-headline-color)
}

.insurance-radio-option-benefits>li>i,.insurance-radio-option-description {
    font-size: .875rem;
    line-height: 1.375rem;
    padding: 0
}

.insurance-radio-option-benefits>li>i {
    margin: 0 8px;
    color: #07b03c
}

.insurance-radio .styled-checkbox>.label.label-left {
    padding: 16px 12px;
    color: var(--theme-text-color);
    background: var(--theme-content-bg)
}

.insurance-radio .styled-checkbox>.label.label-left::after,.insurance-radio .styled-checkbox>.label.label-left::before {
    right: 12px;
    top: 28px
}

.insurance-radio .link-variant {
    display: block;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.25rem;
    text-align: center;
    width: 70%;
    margin: auto
}

.relevant .selection-list {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 12px
}

.relevant .selection-list,.relevant .selection-list-header,.relevant .selection-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.relevant .selection-list-header {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: first baseline;
    -webkit-align-items: first baseline;
    -ms-flex-align: first baseline;
    align-items: first baseline;
    gap: 8px;
    margin-bottom: 8px
}

.relevant .selection-list-header .btn-link {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.relevant .selection-list-header .icon {
    font-size: .625rem;
    margin-left: 4px
}

.relevant .selection-list-item {
    padding: 12px;
    width: 100%;
    background: var(--theme-content-bg);
    color: var(--legacy-text-color);
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid var(--theme-element-border);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: normal;
    -webkit-justify-content: normal;
    -ms-flex-pack: normal;
    justify-content: normal
}

.relevant .selection-list-item-wrapper {
    width: 100%
}

.relevant .selection-list-item-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    color: var(--theme-text-variant-color);
    font-size: 1.875rem;
    font-style: normal
}

.relevant .selection-list-item-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.relevant .selection-list-middle-content-headline {
    overflow: hidden;
    margin-bottom: 4px;
    color: var(--legacy-headline-color);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.125rem
}

.relevant .selection-list-middle-content-description {
    color: var(--theme-text-variant-color);
    line-height: 1.375rem;
    font-size: .875rem;
    white-space: normal
}

.relevant .selection-list-middle-content-price {
    color: var(--theme-interaction-color);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.125rem
}

.field-error-text{
    color: "#d71919"
}